body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.panel-container {
  background-color: rgb(244, 246, 246);
  padding: 18px;
}
.single-panel {
  background-color: rgb(255, 255, 255);
}
.user-name {
  color: rgb(137, 154, 166);
}
.question-date {
  color: rgb(137, 154, 166);
}
.question-text {
  color: rgb(137, 154, 166);
}